@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main{
    background-image: url("/Images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2000px, 100vw);
    height: 96vh;
    position: relative;
}

.main .box{
    background-color: black;
    position: absolute;
    top: 0;
    height: 97vh;
    width: 100%;
    opacity: 0.6;
}

nav{
    max-width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 97px;
}

nav img{
    color: red;
    z-index: 10;
    position: relative;
    width: 145px;
}

nav button{
    z-index: 10;
    position: relative;
}

.hero{
    height: calc(100% - 97px);
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.hero > :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero > :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero > :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.line{
    height: 8px;
    background-color: rgb(35, 35, 35);
    position: relative;
    z-index: 3;
}

.btn{
    font-weight: 530;
    padding: 4px 9px;
    background-color: rgba(23, 23, 23, 0.6);
    border-radius: 3px;
    color: white;
    border: 1px solid rgb(99, 99, 99);
}

.btn-red-sm{
    background-color: rgb(195, 0, 0);
    color: white;
    border: none;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 14px;
}

.btn-red{
    cursor: pointer;
    background-color: rgb(195, 0, 0);
    color: white;
    border: none;
    padding: 10.8px 25px;
    font-size: 24px;
    font-weight: 500;
}

.btn-red:hover, .btn-red-sm:hover{
    background-color: rgb(165, 0, 0);
}

input{
    padding: 18px 165px 14px 12px;
    box-sizing: border-box;
    background-color: rgba(23, 23, 23, 0.6);
    font-size: 16px;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 3px;
    font-weight: 350;
    color: white;
}

.btn-red img{
    width: 23px;
}

.getting-started{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.right-side-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 78vw;
    margin: auto;
    align-items: center;
    color: white;
    padding: 80px;
    gap: 10px;
}

.sec-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-img img{
    width: 38vw;
    position: relative;
    z-index: 10;
}

.sec-img video{
    position: absolute;
    top: 88px;
    right: 0px;
    left: 78px;
    height:240px;
    object-fit: contain;
}

.sec-text > :nth-child(1){
    font-size: 48px;
    font-weight: 900;
}

.sec-text > :nth-child(2){
    font-size: 22px;
    font-weight: 400;
}

#t-vid{
    position: absolute;
    object-fit: contain;
}

.faq h1{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.faq{
    color: white;
    padding-bottom: 70px;
}

.faqbox{
    transition: all 0.4s ease-out;
    background-color: rgb(49, 49, 49);
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    margin: 12px auto;
}

.faqbox:hover{
    background-color: rgb(69, 69, 69);
    cursor: pointer;
}

.txt{
    font-weight: 400;
    font-size: 20px;
    padding-top: 23px;
    text-align: center;
    margin: 12px;
}